body{
    height: 100vh;
    display: flex;
    align-items: end;
 }

 .footer {
    background-color: black;
    color: white;
    height: 50%;
    width: 100%;
    padding: 12px;
    display: flex;
 }

 .description {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .socials{
     width: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: center;
 }

 .socials ul {
    list-style: none;
    display: flex; 
    gap: 10px;
 }

 .textContent {
        height: 80%;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      
 }

 .socialMedia {
    display: flex;
    gap: 10px;
 }